.alert {
    padding: 20px;
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    margin-bottom: 15px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert.success {
    background-color: #4CAF50; /* Green background for success */
}

.alert .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert .closebtn:hover {
    color: black;
}
