/* src/components/Home.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light grey background for the entire page */
}

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 1px;
    background-color: black; /* Light grey background with medium opacity */
    padding: 10px;
    border-radius: 10px;
}

.navbar a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #670707;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #0056b3;
}
